body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.display-4 {
    font-size: 200%;
}

hr.light-100 {
    border-top: 1px solid #e9e9e9;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/* Navbar, logo */

.navbar-brand {
    font-size: 130%;
    text-transform: uppercase;
}

.navbar {
    padding: 0rem;
    background-image: linear-gradient(to bottom right, #240000, #e00606);
}

.navbar-nav li {
    padding-right: 10px;
    text-transform: uppercase;
}  

.nav-link {
    font-size: 1.1em !important;
}

/* Gradients */

.review-area, .links-area, .about-area, .art-area {
    background-image: linear-gradient(to bottom right, rgb(15, 15, 15), #303030);
    color: #fff;
}

.rules-area {
    background-image: linear-gradient(to top right, rgb(15, 15, 15), #303030);
    color: #fff;
}

/* general settings */

a {
    font-size: auto;
    margin: 15px;
    color: #ffff;
    text-decoration: none;
    margin-left: 15px;
}

.banner-area{
    position: relative;
    /* background-image: url(../img/smh.jpg); */
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.about-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1750px;
}

.review-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 2400px;
}

.art-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 2000px;
}

.links-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 840px;
}

.text-part {
    text-align: center;
    width: 80%;
    height: auto;
}

.rules-part hr.light-100 {
    width: 65%;
}

.review-part {
    text-align: center;
    width: 95%;
    height: 80%;
}

h1 {
    padding:0;
    margin:0;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 22px;
    margin: 10px;
    line-height: 37.0px;
}

.video-one {
    position: relative;
    right: 0px;
    top:100px;
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.video-two {
    position: relative;
    left: 0px;
    top:10px;
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.video-three {
    position: relative;
    right:0.0px;
    top:10px;
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.video-four {
    position: relative;
    left:0.0px;
    top:10px;
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* index page  */

.banner-area {
    background-image: linear-gradient(to bottom right, #000, #262626);
    position: relative;
    width: 100%;
    height: 138vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.box {
    display: none;
    width: 100%;
}

/* rules images */

#img1 {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.rls {
    text-align: center;
}

/* footer, scrollbar, @media, misc*/
@media (max-width: 992px) {
    .navbar-brand {
        font-size: 85%;
    }
    .display-4 {
        font-size: 190%;
    }
    .navbar-nav li {
        font-size: 85%;
    } 
    #img1 {
        width: 75%;
    }
    
}
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 80%;
    }
    .display-4 {
        font-size: 180%;
    }
    .navbar-nav li {
        font-size: 80%;
    } 
    #img1 {
        width: 100%;
    }
}
@media (max-width: 640px) {
    .navbar-brand {
        font-size: 75%;
    }
    .display-4 {
        font-size: 170%;
    }
    .navbar-nav li {
        font-size: 75%;
    } 
    #img1 {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .navbar-brand {
        font-size: 70%;
    }
    .display-4 {
        font-size: 160%;
    }
    .navbar-nav li {
        font-size: 70%;
    }
    #img1 {
        width: 100%;
    }
}
  
  
html{
    scroll-behavior: smooth;
}

.foot{
    position: absolute;
    text-align: center;
    align-content: center;
    color: #fff;
    background-image: linear-gradient(to top right, #240000, #e00606);
    height: auto;
    font-size: 20px;
    right: 0px;
    width: 100%;
}

a.designer:hover {
    text-decoration: underline;
    color: #fff;
}

a.netflix:hover {
    text-decoration: underline;
    color: #fff;
}

a.soundtrack:hover {
    text-decoration: underline;
    color: #fff;
}

a:hover + .box,.box:hover {
    display: block;
    color: #fff;
    position: relative;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}
