{% extends "layout.html" %}

{% set active_page = "404" %}

{% block title %}
    Death Note BG Fan Site :: 404
{% endblock %}
{% block body %}

<div class="notfound">
    <br><br><br><br><br><br>
    <h1 class="display-4 text-center">404 Page Not Found</h1><hr class="light-100">
    <p>The page you were looking for doesn't exist.</p>
    <p>Страницата, която търсехте не беше намерена.</p>
    <p><a class="gohome" href="http://deathnote.animes-bg.com/index">Върни се в началото.</a></p>
    <br>
</div>
    <div class="image">
        <img class="img-shrug" src="https://i.ibb.co/HDcTWKs/dcf3b94068a67ffe230b55088b796bea-shrugs-cevo-member-1280-720.jpg">
    </div>
</div>
        
{% endblock %}
