{% extends "layout.html" %}

{% set active_page = "404" %}

{% block title %}
    Death Note BG Fan Site :: AMVs, edits
{% endblock %}
{% block body %}

<div class="art-area" id="art">
    <div class="video-one">
        <iframe width=100% height=100% src="https://www.youtube.com/embed/ITFE-l0zmQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
    </div>
    <div class="video-two">
        <iframe width=100% height=100% src="https://www.youtube.com/embed/4fKEhoDdzIo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
    </div>
    <div class="video-three">
        <iframe width=100% height=100% src="https://www.youtube.com/embed/7j7KOZgar20" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-four">
        <iframe width=100% height=100% src="https://www.youtube.com/embed/17QwzxR81XQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}
        